@font-face {
  font-family: "Mukta Vaani Light";
  src: url("../fonts/muktavaani-light.ttf") format("truetype");
}

@font-face {
  font-family: "Mukta Vaani Semibold";
  src: url("../fonts/muktavaani-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Mukta Vaani Bold";
  src: url("../fonts/muktavaani-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Mukta Vaani Extrabold";
  src: url("../fonts/muktavaani-extrabold.ttf") format("truetype");
}

@font-face {
  font-family: "Cormorant Light Italic";
  src: url("../fonts/cormorant-light-italic.otf") format("opentype");
}

@keyframes loading-1 {
  0%   {opacity: 0}
  10%  {opacity: 0}
  40%  {opacity: 1}
  70%  {opacity: 0}
  100% {opacity: 0}
}

@keyframes loading-2 {
  0%   {opacity: 0}
  20%  {opacity: 0}
  50%  {opacity: 1}
  80%  {opacity: 0}
  100% {opacity: 0}
}

@keyframes loading-3 {
  0%   {opacity: 0}
  30%  {opacity: 0}
  60%  {opacity: 1}
  90%  {opacity: 0}
  100% {opacity: 0}
}

@keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 1;}
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#preloader.load-complete,
html.no-js #preloader,
html.no-js #preloader * {
  opacity: 0;
  z-index: -1000;
}

#preloader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: #BDD67C;
  opacity: 1;
  transition: opacity 0.5s, z-index 2s;
}

#preloader div{
  border-radius: 50%;
  background-color: #FFFFFF;
  animation: loading-2 2s ease 0s infinite;
}

#preloader div:first-child {
animation-name: loading-1 !important;
}

#preloader div:last-child {
animation-name: loading-3 !important;
}

#galerie figure:first-child {
  background: #BDD67C center center/cover;
}

#galerie figure:nth-child(2) {
  background: #BDD67C center center/cover;
}

#galerie figure:nth-child(3) {
  background: #BDD67C center bottom/cover;
}

#galerie figure:nth-child(4) {
  background: #BDD67C center center/cover;
}

#galerie figure:nth-child(5) {
  background: #BDD67C center center/cover;
}

#galerie figure:last-child {
  background: #BDD67C center center/cover;
}
/*==========portrait styles==========*/

@media (orientation: portrait), (max-width: 999px) {
  .p-invisible {display: none}

  .col-p-1  {width:  8.333vw}
  .col-p-2  {width: 16.667vw}
  .col-p-3  {width:     25vw}
  .col-p-4  {width: 33.333vw}
  .col-p-5  {width: 41.667vw}
  .col-p-6  {width:     50vw}
  .col-p-7  {width: 58.333vw}
  .col-p-8  {width: 66.667vw}
  .col-p-9  {width:     75vw}
  .col-p-10 {width: 83.333vw}
  .col-p-11 {width: 91.667vw}
  .col-p-12 {width:    100vw}

  #preloader {
    flex-direction: column;
    padding: 43vh 0;
  }

  #preloader div{
    height: 3vh;
    width: 3vh;
  }

  #logo {
    width: 50vw;
    margin: 10vw 0 10vw 25vw;
  }

  nav {
    position: fixed;
    top: 0;
    right: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    width: 200px;
    padding: 5vw;
    padding-top: 20vh;
    transform: translateX(0);
    transition-duration: 0.7s;
  }

  nav > ul > li {
    list-style-type: none;
    font-size: 14pt;
    color: #000000;
  }

  nav > ul > li:not(:last-child)::after { /*Trennstriche*/
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    margin: 10px 0;
  }

  .dropdown::before {
    content: "+";
    margin-right: 20px;
  }

  .dropdown ul{
    display: none;
  }

  #hamburger {
    float: right;
    margin: 34.5vw 9vw auto 0;
    background-color: transparent;
  }

  #hamburger > img {
    width: 7vw;
    height: auto;
  }

  #first {
    background-color: #BDD67C;
  }

  #title {
    font-size: 27pt;
    letter-spacing: 6pt;
    line-height: 25pt;
    margin: 2pt auto;
  }

  #name {
    margin: 10px auto 20px auto;
    font-size: 15pt;
  }

  #ueber img,
  #kurse img {
    width: 100%;
    height: auto;
  }

  .box, /*hover is disabled on portrait*/
  .box-hover {
    margin: 15px;
    padding: 10px;
    font-size: 16pt;
    background-color: transparent;
  }

  #galerie figure{
    flex-basis: 50% !important;
    height: 33.333vw;
  }

  #kontakt aside {
    flex-direction: column;
  }

  #kontakt aside form {
    order: 1;
  }

  #kontakt aside h2 {
    order: 2;
  }

  #kontakt aside > div {
    order: 3;
  }

  #kontakt form {
    margin-bottom: 50px;
  }

  section:not(#galerie) > div {
    padding: 10px 12px;
  }

  article > div{
    padding: 10px;
  }

  #imgExit {
    top: 20px;
    right: 20px;
    height: 50px;
    width: auto;
  }

  .green {
    color: #95BF21;
  }
}

@media (orientation: portrait) and (min-width: 700px), (max-width: 999px) and (min-width: 700px) {
  html {
    font-size: 16pt;
  }

  section:not(#galerie) > div {
    padding: 15px 17px;
  }

  #logo {
    width: 30vw;
    margin: 0 0 0 30vw;
  }

  #hamburger {
    margin-top: 12.5vw;
    margin-right: 10vw;
  }

  #title {
    font-size: 52pt;
    letter-spacing: 10pt;
    line-height: 45pt;
    margin-top: 25px;
  }

  #name {
    font-size: 20pt;
    margin-bottom: 50px;
  }

  #ueber h1 {
    margin-top: 25px;
  }

  #ueber p {
    margin-bottom: 30px;
  }

  #ueber figure {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  #ueber img{
    max-height: 500px;
    width: auto;

  }

  #kontakt h2 {
    font-size: 30pt;
  }

  #kontakt img {
    height: 50px !important;
  }

  .box,
  .box-hover {
    font-size: 30pt;
    letter-spacing: 5pt;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  input,
  textarea,
  button {
    font-size: 14pt !important;
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 14pt !important;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 14pt !important;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 14pt !important;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 14pt !important;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 14pt !important;
  }

  h1 {
    font-size: 50pt;
    line-height: 45pt;
  }
}

/*==========landscape styles==========*/

@media (orientation: landscape) and (min-width: 1000px) {
  .l-invisible {display: none}

  .col-l-1  {width:  8.333vw}
  .col-l-2  {width: 16.667vw}
  .col-l-3  {width:     25vw}
  .col-l-4  {width: 33.333vw}
  .col-l-5  {width: 41.667vw}
  .col-l-6  {width:     50vw}
  .col-l-7  {width: 58.333vw}
  .col-l-8  {width: 66.667vw}
  .col-l-9  {width:     75vw}
  .col-l-10 {width: 83.333vw}
  .col-l-11 {width: 91.667vw}
  .col-l-12 {width:    100vw}

  #preloader {
    flex-direction: row;
    padding: 0 43vw;
  }

  #preloader div{
    height: 3vw;
    width: 3vw;
  }

  #logo {
    display: inline;
    float: left;
    padding-right: 5vw;
  }

  #logo img {
    height: 100px;
    width: auto;
  }

  header {
    display: flex;
    position: fixed;
    top:0;
    padding: 5px 21.667vw;
  }

  body {
    min-height: 100vh;
  }

  video {
    position: fixed;
    top: 0;
    z-index: -1;
    min-height: 100vh;
    min-width: 100vw;
  }

  nav {
    align-self: flex-end;
    width: 100%;
  }

  nav > ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  nav > ul > li {
    list-style-type: none;
    text-align: center;
    margin: 5px;
    padding-bottom: 12px;
    min-width: 70px;
    flex: 1;
    position: relative; /*for positioning of dropdown*/
    top: 0;
    left: 0;
  }

  nav > ul li::before {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 10px;
    background-color: #000000;
  }

  nav > ul li.current::before , /*lines above green links*/
  nav > ul li:hover::before {
    height: 4px;
    background-color: #95BF21;
  }

  nav > ul > li:hover > a {
    color: #95BF21;
  }

  .dropdown li:hover a {
    color: #95BF21 !important;
  }

  .dropdown li:hover::before,
  .dropdown li.current::before {
    margin-bottom: 7px;
  }

  .dropdown ul {
    display: none;
    position: absolute;
    padding: 11px;
    width: 100%;
    min-width: 130px;
    background-color: #FFFFFF;
    top: 100%;
    left: 0;
  }

  .dropdown:hover ul,
  .dropdown ul:hover {
    display: block;
  }

  .dropdown li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  .dropdown li:not(.current) a {
    color: #000000;
  }

  #title{
    font-size: 52pt;
    letter-spacing: 10pt;
    margin: 45vh auto 20px auto;
  }

  #name {
    font-size: 20pt;
    margin-bottom: 40vh;
  }

  .load-complete #title {
    animation: fade-in 2s;
  }

  .load-complete #name {
    animation: fade-in 2s cubic-bezier(1,-0.03,.89,.02);
  }

  article {
    padding-top: 119px;
  }

  #ueber > div{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #ueber > div > * {
    flex: 1;
  }

  #ueber > div figure{
    margin: 80px 8vw 0 0;
    min-width: 0;
  }

  #ueber h1 {
    position: absolute;
  }

  #ueber p {
    margin-top: 80px;
  }

  #kurse {
    background: url("../images/yoga3.jpg") center center/cover;
  }

  #kurse div {
    padding: 50px;
  }

  .box,
  .box-hover {
    margin: 50px;
    padding: 30px;
    font-size: 25pt;
    letter-spacing: 5pt;
  }

  .box {
    background-color: transparent;
    min-width: 450px;
  }

  .box-hover{
    background-color: rgba(150, 150, 150, 0.5);
    transition: background-color 1s;
    min-width: 450px;
  }

  .box-hover:hover {
    background-color: transparent;
  }

  #galerie figure{
    flex-basis: 33.333% !important;
    height: 15vw;
  }

  #kontakt {
    padding-top: 50px;
  }

  #kontakt .box {
    font-size: 30pt;
  }

  #kontakt aside {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #kontakt aside > div {
    padding: 50px;
    flex: 1;
  }

  #kontakt aside > form {
    flex: 2;
    margin: 50px;
    margin-left: 0;
  }

  #kontakt h2 {
    position: absolute;
    padding-left: 50px;
  }

  footer {
    margin-bottom: 40px;
  }

  h1 {
    font-size: 50pt;
    line-height: 45pt;
  }

  .current a {
    color: #95BF21;
  }

  .green {
    color: #BDD67C;
  }

  .viewer {
    padding: 0 5vw;
  }

  #imgCurrent {
    height: 60vh;
    width: auto;
  }

  #imgExit{
    height: 50px;
    width: auto;
    top: 20px;
    right: 20px;
  }

  #imgBack,
  #imgForward {
    height: 100px;
    width: auto;
  }
}

/*==========universal styles==========*/

html {
  font-family: "Mukta Vaani Light";
  color: #FFFFFF;
  overflow-x: hidden;
}

header {
  background-color: #FFFFFF;
  z-index: 50;
}

#logo {
  display: inline-block;
}

nav {
  font-family: "Mukta Vaani Light";
}

main {
  background-color: transparent;
}

section:not(#first),
article {
  background-color: #BDD67C;
}

section > div,
article > div {
  margin: 0 auto;
}

article > div {
  padding-bottom: 30vh;
}

article h1 {
  font-size: 50pt;
  margin: 0 0 50px 0 !important;
}

article figure.back {
  margin: 30px 0;
}

article figure.back img {
  max-height: 30px;
  width: auto;
}

article figure:not(.back) {
  padding: 20px;
}

article p {
  margin: 0 auto;
  padding: 30px 0;
}

figure.back a {
  display: inline-block;
}

footer {
  background-color: rgba(255,255,255,0.5);
  font-size: 13pt;
  padding: 10px 0;
  color: #787A90;
}

footer p {
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: "Mukta Vaani Semibold";
}

#title,
#name {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

#name {
  font-family: "Cormorant Light Italic";
}

.box,
.box-hover {
  color: #FFFFFF;
  display: block;
  border: 10px solid #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  font-family: "Mukta Vaani Extrabold";
}

#galerie div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#galerie figure {
  flex: 1;
  opacity: 1;
  transition: opacity 0.5s;
}

#galerie figure:hover {
  opacity: 0.3;
}

#kontakt img {
  height: 20px;
  width: auto;
  margin: 5px;
}

#kontakt aside {
  display: flex;
}

#kontakt h2{
  text-transform: uppercase;
  letter-spacing: 3pt;
}

#kontakt button {
  padding: 8px 5px;
  float: right;
  background-color: #FFFFFF;
  color: #BDD67C;
  font-size: 10pt;
}

h2 {
  font-family: "Mukta Vaani Bold";
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

input,
textarea {
  font-family: "Mukta Vaani Light";
  background-color: #FFFFFF;
  color: #777777;
  margin: 3px 0;
  padding: 5px;
  font-size: 10pt;
}

input, textarea
input:focus, textarea:focus,
input:invalid, textarea:invalid {
  box-shadow: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-family: "Mukta Vaani Light";
  font-size: 10pt;
  color: #BDD67C;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: "Mukta Vaani Light";
  font-size: 10pt;
  color: #BDD67C;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: "Mukta Vaani Light";
  font-size: 10pt;
  color: #BDD67C;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: "Mukta Vaani Light";
  font-size: 10pt;
  color: #BDD67C;
}
::-ms-input-placeholder { /* Microsoft Edge */
  font-family: "Mukta Vaani Light";
  font-size: 10pt;
  color: #BDD67C;
}

#viewer {
  display: none;
}

.viewer { /*Bildergallerie*/
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(50, 50, 50, 0.8);
}

#imgExit {
  position: fixed;
}

html.noscroll {
  overflow-y: hidden;
}




















/*Abstandhalter*/
